:root {
  --NAVIGATORwidth: 100vw;
  --NAVIGATORheight: calc(calc(var(--vh, 1vh) * 100) - var(--NAVBARheight));

  --CONTENTwidth: var(--NAVIGATORwidth);
  --CONTENTheight: var(--NAVIGATORheight);
  --CONTENTheaderHeight: calc(var(--CONTENTheight) * 0.15);
  --CONTENThorizontalPadding: 2.5vw;
} @media screen and (min-width: 621px) {
  :root {
    --NAVIGATORwidth: calc(100vw - var(--NAVBARwidth));
    --NAVIGATORheight: 100vh;
  }
}

/* §0 Navigator */

.NAVIGATOR {
  width: var(--NAVIGATORwidth);
  height: var(--NAVIGATORheight);

  position: absolute;
  top: 0;
  right: 0;

  background-color: var(--base00);
  border-bottom-left-radius: var(--radius);
  border-bottom-right-radius: var(--radius);

  display: flex;
  flex-direction: column;
  transition: width ease 322ms, height ease 322ms;
} @media screen and (min-width: 621px) {
  .NAVIGATOR {
    align-items: center;
    border-radius: 0;
  }
}

.NAVIGATOR.expanded {
  border-radius: 0;
  width: 100vw;
  height: calc(var(--vh, 1vh) * 100);
}

/* §0 Content */

/* §1 Main wrapper */
.NAVIGATOR > .content {
  width: var(--CONTENTwidth);
  height: var(--CONTENTheight);

  position: relative;
  white-space: pre-wrap;

  padding-left:  var(--CONTENThorizontalPadding);
  padding-right: var(--CONTENThorizontalPadding);

  text-align: justify;
  text-align-last: center;
} @media screen and (max-width: 620px) {
  .NAVIGATOR > .content {
    border-bottom-left-radius: var(--radius);
    border-bottom-right-radius: var(--radius);
  }
} @media screen and (min-width: 621px) {
  .NAVIGATOR > .content {
    padding-bottom: var(--CONTENTheaderHeight);
    padding-right: calc(
      var(--scrollbar) + var(--CONTENThorizontalPadding) + var(--NAVBARwidth)
    );
  }
}

/* §2 Scrollable adjustments */
.NAVIGATOR > .content.scrollable {
  width: calc(var(--CONTENTwidth) - var(--scrollbar));
  margin-left: var(--scrollbar);
}

/* §1 Content Header */
.NAVIGATOR > .content .header {
  width: 100%;
  height: var(--CONTENTheaderHeight);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  text-align: center;
  font-family: var(--display);
  font-size: 1.3em;
}

.NAVIGATOR > .content .header::after {
  width: 72%;
  margin-top: calc(var(--CONTENTheaderHeight) * 0.2);
  height: 1px;

  content: " ";
  background-color: var(--base20);
}
