:root {
  --NAVIGATORwidth: 100vw;
  --NAVIGATORheight: calc(calc(var(--vh, 1vh) * 100) - var(--NAVBARheight));

  --CONTENTwidth: var(--NAVIGATORwidth);
  --CONTENTheight: var(--NAVIGATORheight);
  --CONTENTheaderHeight: calc(var(--CONTENTheight) * 0.15);
  --CONTENThorizontalPadding: 5vw;
} @media screen and (min-width: 621px) {
  :root {
    --NAVIGATORwidth: calc(100vw - var(--NAVBARwidth));
    --NAVIGATORheight: 100vh;
    --CONTENThorizontalPadding: 17.5vw;
  }
}

/* §0 Navigator */

.NAVIGATOR {
  width: var(--NAVIGATORwidth);
  height: var(--NAVIGATORheight);

  position: absolute;
  top: 0;
  right: 0;

  background-color: var(--base00);
  border-bottom-left-radius: var(--radius);
  border-bottom-right-radius: var(--radius);

  overflow: hidden;

  display: flex;
  flex-direction: column;
  transition: width ease 300ms, height ease 300ms;
} @media screen and (min-width: 621px) {
  .NAVIGATOR {
    align-items: center;
    border-radius: 0;
  }
}

.NAVIGATOR.expanded {
  border-radius: 0;
  width: 100vw;
  height: calc(var(--vh, 1vh) * 100);
}

/* §0 Content */

/* §1 Main wrapper */
.NAVIGATOR > .content {
  width: var(--CONTENTwidth);
  height: var(--CONTENTheight);

  position: relative;

  border-bottom-left-radius: var(--radius);
  border-bottom-right-radius: var(--radius);

  padding-left:  var(--CONTENThorizontalPadding);
  padding-right: var(--CONTENThorizontalPadding);
  padding-bottom: calc(var(--vh, 1vh) * 4);

  line-height: 172%;
  text-align: justify;
  text-align-last: left;

  transition: width ease 300ms, height ease 300ms, padding ease 300ms;

  animation: slideFromRight ease 300ms;
} .NAVIGATOR.transition > .content {
  animation: fadeToNothing ease 350ms;
  animation-fill-mode: forwards;
}

@media screen and (max-width: 620px) {
} @media screen and (min-width: 621px) {
  .NAVIGATOR > .content {
    border-radius: 0;
    padding-bottom: var(--CONTENTheaderHeight);
    padding-right: calc(
      var(--scrollbar) + var(--CONTENThorizontalPadding) + var(--NAVBARwidth)
    );
    line-height: 200%;
  }
}

/* §2 Scrollable adjustments */
.NAVIGATOR > .content.scrollable {
  width: calc(var(--CONTENTwidth) - var(--scrollbar));
  margin-left: var(--scrollbar);
}

/* §1 Animations */
.NAVIGATOR.backward > .content {
  animation-name: slideFromLeft;
}
.NAVIGATOR.nextPage > .content {
  animation: slideToLeft ease 280ms;
  animation-fill-mode: forwards;
}
.NAVIGATOR.previousPage > .content {
  animation: slideToRight ease 280ms;
  animation-fill-mode: forwards;
}

/* §1 Content Header */
.NAVIGATOR > .content .header {
  width: 100%;
  height: var(--CONTENTheaderHeight);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  text-align: center;
  font-family: var(--display);
  font-size: 1.3em;
}

.NAVIGATOR > .content .header::after {
  width: 72%;
  margin-top: calc(var(--CONTENTheaderHeight) * 0.2);
  height: 1px;

  content: " ";
  background-color: var(--base20);
}

/* §1 section headers */
.NAVIGATOR > .content h1 {
  max-width: 100%;

  color: var(--primary50);
  font-family: var(--serif);
  font-weight: normal;
  font-size: 1.3em;

  border-left: 2px solid var(--primary20);
  padding-left: 8vw;
} @media screen and (min-width: 621px) {
  .NAVIGATOR > .content h1 {
    padding-left: 2vw;
  }
}
