:root {
  --NAVIGATORwidth: 100vw;
  --NAVIGATORheight: calc(calc(var(--vh, 1vh) * 100) - var(--NAVBARheight));

  --CONTENTwidth: var(--NAVIGATORwidth);
  --CONTENTheight: var(--NAVIGATORheight);
  --CONTENTheaderHeight: calc(var(--CONTENTheight) * 0.15);
  --CONTENThorizontalPadding: 5vw;
} @media screen and (min-width: 621px) {
  :root {
    --NAVIGATORwidth: calc(100vw - var(--NAVBARwidth));
    --NAVIGATORheight: 100vh;
    --CONTENThorizontalPadding: 17.5vw;
  }
}

/* §0 Navigator */

.NAVIGATOR {
  width: var(--NAVIGATORwidth);
  height: var(--NAVIGATORheight);

  position: absolute;
  top: 0;
  right: 0;

  background-color: var(--base00);
  border-bottom-left-radius: var(--radius);
  border-bottom-right-radius: var(--radius);

  overflow: hidden;

  display: flex;
  flex-direction: column;
  transition: width ease 300ms, height ease 300ms;
} @media screen and (min-width: 621px) {
  .NAVIGATOR {
    align-items: center;
    border-radius: 0;
  }
}

.NAVIGATOR.expanded {
  border-radius: 0;
  width: 100vw;
  height: calc(var(--vh, 1vh) * 100);
}

/* §0 Content */

/* §1 Main wrapper */
.NAVIGATOR > .content {
  width: var(--CONTENTwidth);
  height: var(--CONTENTheight);

  position: relative;

  border-bottom-left-radius: var(--radius);
  border-bottom-right-radius: var(--radius);

  padding-left:  var(--CONTENThorizontalPadding);
  padding-right: var(--CONTENThorizontalPadding);
  padding-bottom: calc(var(--vh, 1vh) * 4);

  line-height: 172%;
  text-align: justify;
  text-align-last: left;

  transition: width ease 300ms, height ease 300ms, padding ease 300ms;

  animation: slideFromRight ease 300ms;
} .NAVIGATOR.transition > .content {
  animation: fadeToNothing ease 350ms;
  animation-fill-mode: forwards;
}

@media screen and (max-width: 620px) {
} @media screen and (min-width: 621px) {
  .NAVIGATOR > .content {
    border-radius: 0;
    padding-bottom: var(--CONTENTheaderHeight);
    padding-right: calc(
      var(--scrollbar) + var(--CONTENThorizontalPadding) + var(--NAVBARwidth)
    );
    line-height: 200%;
  }
}

/* §2 Scrollable adjustments */
.NAVIGATOR > .content.scrollable {
  width: calc(var(--CONTENTwidth) - var(--scrollbar));
  margin-left: var(--scrollbar);
}

/* §1 Animations */
.NAVIGATOR.backward > .content {
  animation-name: slideFromLeft;
}
.NAVIGATOR.nextPage > .content {
  animation: slideToLeft ease 280ms;
  animation-fill-mode: forwards;
}
.NAVIGATOR.previousPage > .content {
  animation: slideToRight ease 280ms;
  animation-fill-mode: forwards;
}

/* §1 Content Header */
.NAVIGATOR > .content .header {
  width: 100%;
  height: var(--CONTENTheaderHeight);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  text-align: center;
  font-family: var(--display);
  font-size: 1.3em;
}

.NAVIGATOR > .content .header::after {
  width: 72%;
  margin-top: calc(var(--CONTENTheaderHeight) * 0.2);
  height: 1px;

  content: " ";
  background-color: var(--base20);
}

/* §1 section headers */

/* §2 H1 & Common */
.NAVIGATOR > .content h1,
.NAVIGATOR > .content h2 {
  max-width: 100%;

  color: var(--primary50);
  font-family: var(--serif);
  font-weight: normal;
  font-size: 1.3em;

  position: relative;
  border-left: 2px solid var(--primary20);
  padding-left: 8vw;
} @media screen and (min-width: 621px) {
  .NAVIGATOR > .content h1,
  .NAVIGATOR > .content h2 {
    padding-left: 2vw;
  }
}

/* §2 h2 */
.NAVIGATOR > .content h2 {
  color: var(--primary30);
  font-size: 1.15em;
  border-left: none;
  margin-left: 2px;
}

/* §2 Link Adjustments */
.NAVIGATOR > .content h1 > a {
  font-family: var(--slab);
  padding: 2px 9px;
}

/* §2 Subtitles */
.NAVIGATOR > .content h1 > .subtitle {
  font-family: var(--mono);

  position: absolute;
  right: 0;
}

/* §1 Videos */

.NAVIGATOR > .content video {
  max-width: calc(var(--CONTENTwidth) * 0.8);
  border: 3px solid var(--base90);
  border-radius: var(--radius);
  display: block;
  margin: 3vh 0;
}

.NAVIGATOR > .content h1 ~ video,
.NAVIGATOR > .content h2 ~ video
.NAVIGATOR > .content h1 ~ .center video,
.NAVIGATOR > .content h2 ~ .center video {
  margin-top: 0;
}

/* §1 center */

.NAVIGATOR > .content .center {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* §1 Notes */

.NAVIGATOR > .content .notes {
  width: 90%;
  margin: 5vh 0;
  margin-left: 5%;
  padding: var(--radius);

  background-color: var(--primary05);
  border-radius: var(--radius);

  color: var(--primary90);
  font-family: var(--mono);
  text-align: center;
  text-align-last: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
} @media screen and (min-width: 621px) {
  .NAVIGATOR > .content .notes { width: 100%; }
}

@media screen and (min-width: 621px) {
  .NAVIGATOR > .content .notes {
    margin: 3vh 0;
  }
}

.NAVIGATOR > .content .header ~ .notes {
  margin-top: 0;
}

/* §1 Lists */

.NAVIGATOR > .content ul {
  padding-left: 0;
}

.NAVIGATOR > .content ul > li {
  padding: 5vh 0;
  padding-left: calc(var(--CONTENTwidth) * 0.08);

  border-left: 1px solid var(--primary20);
  list-style: none;

  text-align: left;
} @media screen and (min-width: 621px) {
  .NAVIGATOR > .content ul > li {
    margin-left: 0;
    padding: 3vh 0;
    padding-left: calc(var(--CONTENTwidth) * 0.02);
    list-style-type: lower-roman;

    text-align: justify;
  }
  .NAVIGATOR > .content ul > li.bullet {
    list-style-type: circle;
  }
}

.NAVIGATOR > .content ul > li.bullet {
  border-color: var(--primary10);
}
