html {
  color: var(--base90);
  font-family: var(--sans);
  overflow: hidden;

  margin: 0; padding: 0;
  background-color: var(--base90);
}
@media screen and (min-width: 621px) {
  html {
    background-color: var(--base00);
  }
}

/* Ensures consistent box-sizing across elements */
html, *, :before, :after {
  box-sizing: border-box;
}

body, #root {
  overflow: hidden;
  margin: 0; padding: 0;
}

/* ยง1 variables */
:root {
  --radius: 0.72vw;
  --scrollbar: 12px;
  touch-action: pan-x pan-y;
}

@media screen and (max-width: 620px) {
  :root {
    --radius: 2.72vw;
    --scrollbar: 0px;
  }
}
