html {
  color: var(--base90);
  font-family: var(--sans);
  overflow: hidden;

  margin: 0; padding: 0;
  background-color: var(--base90);
}
@media screen and (min-width: 621px) {
  html {
    background-color: var(--base00);
  }
}

/* Ensures consistent box-sizing across elements */
html, *, :before, :after {
  box-sizing: border-box;
}
::selection {
  color: var(--primary00);
  background-color: var(--primary70);
}

body, #root {
  overflow: hidden;
  margin: 0; padding: 0;
}

/* §1 Styles Links */

a {
  padding: 1px 5px;
  border-radius: 3px;

  color: var(--base00);
  text-decoration: none;
  background-color: var(--primary40);
  transition: background-color ease 300ms, color ease 272ms;
}

a:hover {
  background-color: var(--primary50);
}

a:active {
  background-color: var(--primary70);
  transition: none;
}

/* §1 variables */
:root {
  --radius: 0.58vw;
  --scrollbar: 12px;
  touch-action: pan-x pan-y;
}

@media screen and (max-width: 620px) {
  :root {
    --radius: 2.72vw;
    --scrollbar: 0px;
  }
}

/* §1 Z Indexes */
.NAVIGATOR { z-index: 1; }
.NAVBAR { z-index: 3; }
