.scrollable {
  overflow: hidden;
  overflow-y: scroll;
}

@media screen and (max-width: 620px) {
  .scrollable::-webkit-scrollbar {
    display: none;
  }
}

@media screen and (min-width: 621px) {
  .scrollable::-webkit-scrollbar {
    height: 10px;
    background: transparent;
    width: var(--scrollbar);
  }

  .scrollable::-webkit-scrollbar-thumb {
    background: var(--primary20);
    border: 6px solid var(--base00);
    border-radius: var(--radius);
    border-bottom: 3px solid var(--base00);
    border-top: 3px solid var(--base00);
  }

  .scrollable::-webkit-scrollbar-thumb:hover {
    background: var(--primary30);
  }

  .scrollable::-webkit-scrollbar-track {
    border-radius: var(--radius);
  }
}
