
/**
 * This file holds variables and classes which fast-forwards the design
 * of components shadows.
 */

/* §0 As a variable */

:root {
  /* §1 With colors */
  --shadowAll0: 0 0 8px  -3px #0001;
  --shadowAll1: 0 0 8px  -3px #0002;
  --shadowAll2: 0 0 10px -3px #0003;
  --shadowAll3: 0 0 12px -3px #0004;
  --shadowAll4: 0 0 14px -4px #0005;
  --shadowAll5: 0 0 16px -5px #0006;

  --shadowTop0: 0 -4px 8px  -3px #0001;
  --shadowTop1: 0 -4px 8px  -3px #0002;
  --shadowTop2: 0 -4px 10px -3px #0003;
  --shadowTop3: 0 -4px 12px -3px #0004;
  --shadowTop4: 0 -4px 14px -4px #0005;
  --shadowTop5: 0 -4px 16px -5px #0006;

  --shadowRight0: 4px 0 8px  -3px #0001;
  --shadowRight1: 4px 0 8px  -3px #0002;
  --shadowRight2: 4px 0 10px -3px #0003;
  --shadowRight3: 4px 0 12px -3px #0004;
  --shadowRight4: 4px 0 14px -4px #0005;
  --shadowRight5: 4px 0 16px -5px #0006;

  --shadowBottom0: 0 4px 8px  -3px #0001;
  --shadowBottom1: 0 4px 8px  -3px #0002;
  --shadowBottom2: 0 4px 10px -3px #0003;
  --shadowBottom3: 0 4px 12px -3px #0004;
  --shadowBottom4: 0 4px 14px -4px #0005;
  --shadowBottom5: 0 4px 16px -5px #0006;

  --shadowLeft0: 4px 0 8px  -3px #0001;
  --shadowLeft1: 4px 0 8px  -3px #0002;
  --shadowLeft2: 4px 0 10px -3px #0003;
  --shadowLeft3: 4px 0 12px -3px #0004;
  --shadowLeft4: 4px 0 14px -4px #0005;
  --shadowLeft5: 4px 0 16px -5px #0006;

  /* §1 Without color */
  --shadowAll0noColor: 0 0 8px  -3px;
  --shadowAll1noColor: 0 0 8px  -3px;
  --shadowAll2noColor: 0 0 10px -3px;
  --shadowAll3noColor: 0 0 12px -3px;
  --shadowAll4noColor: 0 0 14px -4px;
  --shadowAll5noColor: 0 0 16px -5px;

  --shadowTop0noColor: 0 -4px 8px  -3px;
  --shadowTop1noColor: 0 -4px 8px  -3px;
  --shadowTop2noColor: 0 -4px 10px -3px;
  --shadowTop3noColor: 0 -4px 12px -3px;
  --shadowTop4noColor: 0 -4px 14px -4px;
  --shadowTop5noColor: 0 -4px 16px -5px;

  --shadowRight0noColor: 4px 0 8px  -3px;
  --shadowRight1noColor: 4px 0 8px  -3px;
  --shadowRight2noColor: 4px 0 10px -3px;
  --shadowRight3noColor: 4px 0 12px -3px;
  --shadowRight4noColor: 4px 0 14px -4px;
  --shadowRight5noColor: 4px 0 16px -5px;

  --shadowBottom0noColor: 0 4px 8px  -3px;
  --shadowBottom1noColor: 0 4px 8px  -3px;
  --shadowBottom2noColor: 0 4px 10px -3px;
  --shadowBottom3noColor: 0 4px 12px -3px;
  --shadowBottom4noColor: 0 4px 14px -4px;
  --shadowBottom5noColor: 0 4px 16px -5px;

  --shadowLeft0noColor: -4px 0 8px  -3px;
  --shadowLeft1noColor: -4px 0 8px  -3px;
  --shadowLeft2noColor: -4px 0 10px -3px;
  --shadowLeft3noColor: -4px 0 12px -3px;
  --shadowLeft4noColor: -4px 0 14px -4px;
  --shadowLeft5noColor: -4px 0 16px -5px;
}
